<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if (locals.user) { %>
        <h1>I'm already home</h1>
    <% } %>
    <h1>I'm coming home</h1>
</body>
</html>